{% extends "task_manager/base_generic.html" %}
{% load i18n %}
{% block content %}
    <h1 class="my-4">{% trans "Statuses" %}</h1>
    <a type="button" class="btn btn-light mb-3" href={% url 'create_status' %}>{% trans "Create status" %}</a>
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">{% trans "Name" %}</th>
            <th scope="col">{% trans "CreationDate" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for status in statuses_list %}
            <tr>
                <td>{{ status.id }}</td>
                <td>{{ status.name }}</td>
                <td>{{ status.creation_date }}</td>
                <td>
                    <a href={% url 'update_status' status.id %}>{% trans "Edit" %}</a>
                    <br>
                    <a href={% url 'delete_status' status.id %}>{% trans "Delete" %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}