{% extends "task_manager/base_generic.html" %}
{% load i18n %}
{% block content %}
    <h1 class="my-4">{% trans "TaskDetail" %}</h1>
    <div class="card text-white bg-dark border border-white">
        <div class="card-header border border-white">
            <div class="row p-1">
                <div class="col">
                    <h2>{{ task.name }}</h2>
                </div>
                <div class="col">
                    <a class="float-right" href={% url 'update_task' task.id %}>{% trans "Edit" %}</a>
                    <br>
                    <a class="float-right" href={% url 'delete_task' task.id %}>{% trans "Delete" %}</a>
                </div>
            </div>
        </div>
        <div class="card-body border border-white">
            <p>
                {% if task.description %}
                    {{ task.description }}
                {% else %}
                    {% trans "DescriptionIsAbsent" %}
                {% endif %}
            </p>
            <hr class="border border-white">
            <div class="container">
                <div class="row p-1">
                    <div class="col">{% trans "Author" %}</div>
                    <div class="col">{{ task.author }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">{% trans "Executor" %}</div>
                    <div class="col">{{ task.executor }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">{% trans "Status" %}</div>
                    <div class="col">{{ task.status }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">{% trans "CreationDate" %}</div>
                    <div class="col">{{ task.creation_date }}</div>
                </div>
                {% if task.labels.all %}
                    <div class="row p-1">
                        <div class="col">
                            <h6>{% trans "Labels" %}:</h6>
                            <ul>
                                {% for label in task.labels.all %}
                                    <li>{{ label.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}